.background {
    -fx-background-color: #0D2E41;
}

.label {
    -fx-font-size: 16pt;
    -fx-text-fill: #ffffffff;
    -fx-font-family: Garamond, serif;
}
.label-rating{
    -fx-font-size: 12pt;
    -fx-text-fill: #ffffff;
    -fx-font-family: Garamond, serif;
}

.label-big {
    -fx-font-size: 20pt;
    -fx-text-fill: #ffffffff;
}

.mfx-text-field {
    -fx-font-size: 10pt;
    -fx-background-color: #051C29;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-text-fill: #ffffffff;
    -fx-padding: 5px;
    -fx-prompt-text-fill: white;
    -fx-font-family: Georgia, serif;
}

.toggle-button {
    -fx-font-size: 10pt;
    -fx-text-fill: #ffffffff;
    -fx-background-color: #051C29;
    -fx-font-family: Georgia, serif;
}

.toggle-button:hover {
    -fx-background-color:#001521;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
  }

 .toggle-button:selected {
    -fx-background-color: #001521;
  }

.button-bar {
    -fx-background-color: #051C29;
}

.text-area {
    -fx-control-inner-background: transparent;
    -fx-text-fill: #ffffffff;
    -fx-font-family: Garamond, serif;
    -fx-border-color: #ffffff;
    -fx-font-size: 20;
}

.text-area *.text {
    -fx-text-alignment: left;
}


.scroll-pane {
   -fx-background: #0D2E41;
   -fx-border-color: #0D2E41;
}

.button {
   -fx-background-color: #051C29;
    -fx-text-fill: #ffffffff;
   -fx-font-family: Georgia, serif;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.image-view:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}