.background {
    -fx-background-color: #ADB5BD;
}

.label {
    -fx-font-size: 10pt;
    -fx-text-fill: #051923;
}

.label-big {
    -fx-font-size: 20pt;
    -fx-text-fill: #051923;
}

.menu-bar {
    -fx-background-color: #003554;
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.mfx-text-field {
    -fx-font-size: 10pt;
    -fx-background-color: #003554;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-prompt-text-fill: white;
}

.toggle-button {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-color: #003554;
}

.toggle-button:hover {
    -fx-background-color:#0582CA;
  }

.button-bar {
    -fx-background-color: #003554;
}

.text-area {
   -fx-control-inner-background: transparent;
}

.scroll-pane {
   -fx-background: #ADB5BD;
   -fx-border-color: #ADB5BD;
}