.background {
    -fx-background-color: #9E839E;
}

.label {
    -fx-font-size: 10pt;
    -fx-text-fill: #1D012F;
}

.label-big {
    -fx-font-size: 20pt;
    -fx-text-fill: #1D012F;
}

.menu-bar {
    -fx-background-color: #765F88;
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.mfx-text-field {
    -fx-font-size: 10pt;
    -fx-background-color: #4B1365;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-prompt-text-fill: white;
}

.toggle-button {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-color: #765F88;
}

.toggle-button:hover {
    -fx-background-color:#4B1365;
  }

.button-bar {
    -fx-background-color: #765F88;
}

.text-area {
   -fx-control-inner-background: transparent;
}

.scroll-pane {
   -fx-background: #9E839E;
   -fx-border-color: #9E839E;
}